*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.container{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    position: relative;
    height: 400vh;    
}

.toppage{
    width: 100%;
    background-color: #f6ebda;

}

.navbar{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    background-color: #f6ebda;

}
.logo{
   width: 20%;
   position: absolute;
   top: 0;
   left: 135px;
   padding: 10px;

}
.menubar{
    width: 40%;
    
}
.search{
    width: 40%;

}   
ul{
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 0;
    left: 500px;
}
li{
    float: left;
}
li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    color: black;
}
.form{
    padding: 10px;
    margin-left: 300px;
}
.form button{
    height: 30px;
    width: 50px;
    float: left;
    background-color: white;
    border: 1px solid gray;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;  
    border-right: none;      
    color: gray;
              
}
.form input[type=text]{
    height: 30px;
    width: 150px;
    padding: 10px;
    float: left;
    background-color: white;
    border: 1px solid gray;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none; 
   cursor: pointer;  
    
}

.body{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;    
}

.split{
    width: 50%;
}
.text{
    margin-left: 145px;
    margin-top: 10px;
    
}
.text p{
    font-size: 10px;
    color: gray;
}
.butmore{
    display: flex;
    flex-direction: row;
}
.butimg{
    width: 150px;
    border: 1px solid rgb(19, 11, 11);
    background-color: rgb(19, 11, 11);
    padding: 15px;
    border-radius: 20px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.ordernow{
    background-color: rgb(19, 11, 11);
    border: 1px solid rgb(19, 11, 11);
    color: white;
    font-size: 12px;

}
.more{
    color: #ff902a;
    font-size: 12px;
    border: none;   
    background-color: #f6ebda;
    margin-left: 40px;

}
.image img{
    border-radius: 120px;
    margin-left: 320px;
}
.image p{
    background-color: white;
    border: 1px double rgb(236, 234, 234);
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 3px 2px 3px 2px rgba(211, 208, 208,0.5);
}       
.textbox{
    position: absolute;
    right: 260px;
    top: 10px;
    width: 130px;
    padding: 3px;
    text-align: center;
    outline: 2px solid rgb(240, 237, 237); 
}
.rating{
    position: absolute;
    right: 130px;
    top: 40px;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
    width: 60px;
    outline: 2px solid rgb(240, 237, 237);
}
.likes{
    position: absolute;
    right: 320px;
    top: 150px;
    padding: 3px;
    text-align: center;
    width: 55px;
    outline: 2px solid rgb(240, 237, 237);
}

.populartext{
    position: absolute;
    top: 350px;
    left: 145px;
    font-size: 15px;
}
   

.vanila h6{
    position: absolute;
    top: 12px;
    left: 15px;
    background-color: white;
    border-radius: 10px; 
    outline: 2px solid rgb(240, 237, 237);
       box-shadow: 1px 1px 5px 2px rgba(240, 237, 237,0.7);
    padding: 3px;
    font-size: 8px;
    width: 30px;

}
.espresso h6{
    position: absolute;
    top: 12px;
    left: 15px;
background-color: white;
border-radius: 10px; 
outline: 2px solid rgb(240, 237, 237);
box-shadow: 1px 2px 3px 1px rgba(240, 237, 237,0.4);
padding: 3px;
font-size: 8px;
width: 30px;
text-align: center;
}
.hazeinut h6{
position: absolute;
top: 12px;
left: 15px;
background-color: white;
border-radius: 10px;
outline: 2px solid rgb(240, 237, 237);
box-shadow: 1px 3px 5px 1px rgba(240, 237, 237,0.7);
padding: 3px;
font-size: 8px;
width: 30px;
text-align: center;
} 
.hotcold{
    margin-top: -5px;
    margin-left: -7px;
    opacity: 0.9;
}
.popular{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 275px;
    z-index: 1;
    margin-top: 30px;

}
.split2{
    width: 33.33%;
    width: 170px;
    height: 190px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 2px rgba(98, 99, 99, 0.795);
    padding: 7px;
    margin-top: 100px;
    position: relative;

}
.coffe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}
.bot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}
.hot{
    border:1px solid #ff902a;
    border-radius: 5px;
    width: 30px;
    color: #ff902a;
    font-size: 8px;
    margin-left: 10px;
    padding: 1px;

}
.cold{
    border:1px solid #ff902a;
    border-radius: 5px;
    width: 30px;
    color: #ff902a;
    font-size: 8px;
    padding: 1px;
    margin-left: 10px;
    
}
.center{
    width: 100%;
    z-index: 1;
    background-color: white;
    margin-top: 200px;
}
.rectangle{
    width: 98%;
    background-color: #ffcb7c;
    border-radius: 25px;
    height: 180px;
    position: absolute;
    opacity: 0.5;
    position: absolute;
    top: 480px;
    margin-left: 15px;
   
}
.bodybottom{
    
        background-color: white;
}
.useservice{
     margin-top: -20px;
    font-size: 15px;
    margin-left: 145px;
    font-weight: bold;

}
.delivery{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    position: absolute;
    top: 650px;
}
.sevice{
    width: 33.33%;
    justify-content: center;
    
}
   
.toppic{
    position: absolute;
    top: 950px;
    left: 145px;
    box-shadow: 1px 2px 3px 4px rgb(194, 193, 193);
    outline: 2px solid rgb(240, 237, 237); 
    border-radius: 5px;
}
.textarea{
    background-color: #f6ebda;
    width: 100%;
    height: 250px;
    margin-top: 300px;
}
.right{
    margin-left:960px;
    padding-top: 40px;
    align-items: center;
}
.textarea h5{

margin-top: 15px;
}
.textarea p{
    font-size: 11px;
    color: rgb(65, 63, 63);
    margin-top: 10px;
}
.textarea button{
    border: 1px solid rgb(19, 11, 11);
    background-color: rgb(19, 11, 11);
    padding: 5px;
    color: #e0924b;
    width: 120px;
    border-radius: 20px;
    font-size: 11px;
    margin-top: 15px;
}
.spl{
    margin-top: 30px;
    padding: 10px;
    margin-left: 135px;
    
}
.coffemenus{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    row-gap: 40px;
    margin-left: 50px;
    margin-top: 10px;
   column-gap: 60px;
}
.splmenu{

    width: 170px;
    height: 190px;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 6px 2px rgba(98, 99, 99, 0.795);;
    padding: 10px;
    margin-left: 90px;

}
 /* .aboutus{
    width: 100%;
    height: 150px;
}*/
.textbg{
    width: 77%;
    background-color: #f6ebda;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 40px;
    height: 250px;
}
.textbg h4{
 padding: 10px;
 padding-top: 100px;
 margin-left: 135px;

}
.textbg p{
    font-size: 10px;
    color: rgb(94, 93, 93);
    margin-left: 145px;

}
.comment1
{
    width: 130px;
    height: 40px;
    border-radius: 1px solid #ffcb7c;
    background-color: #ffcb7c;
    box-shadow: 2px 3px 4px 3px #ffcb7c;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-left: 7px;
    text-align: left;
    position: absolute;
    bottom: 420px;
    right: 400px;
    opacity: 0.9;
    outline: 2px solid #ffcb7c;

}
.comment2
{
    width: 130px;
    height: 40px;
    border-radius: 1px solid #ffcb7c;
    background-color: #ffcb7c;
    box-shadow: 2px 3px 4px 3px #ffcb7c;
    outline: 2px solid #ffcb7c;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-left: 7px;
    text-align: left;
    position: absolute;
    bottom: 420px;
    right: 200px;
    opacity: 0.9;
    
    
}
.comment3
{
    width: 130px;
    height: 40px;
    border-radius: 1px solid #ffcb7c;
    background-color: #ffcb7c;
    box-shadow: 2px 3px 4px 3px #ffcb7c;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-left: 7px;
    text-align: left;
    position: absolute;
    bottom: 420px;
    right: 0;
    opacity: 0.9;
    outline: 2px solid #ffcb7c;
}
.name{

    font-size: 10px;
    font-weight: bold;
}
#img1{
    position: absolute;
    bottom: 400px;
    right: 430px;
}
#img2{
    position: absolute;
    bottom: 400px;
    right: 230px;
}
#img3{
    position: absolute;
    bottom: 400px;
    right: 30px;
}
.bottom p{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-top: 10px;
    padding-top: 100px;
}
.form1{

    width: 300px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
    margin-left: 410px;
    height: 40px;
    padding-top: 5px;
    margin-top: 20px;
    padding-left: 15px;
}
.form1 input{
    border: none;
    font-size: 10px;
    margin-left: 0;
    width: 80px;
    padding: 5px;
    background-color: white
    
}
.form1 button{
    border: 1px solid rgb(19, 11, 11);
    background-color: rgb(19, 11, 11);
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    opacity: 0.8;    
    padding: 5px;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 5px;
    

}
.bottom{
    background-image: url(bgimage.png);
    width: 83%;
    height: 300px;
    border-radius: 20px;
    color: white;
    text-align: center;
    align-items: center;
    margin-left: 135px;
}
#seeds{
    position: absolute;
    top: 280px;
    left: 100px;
    rotate: 210deg;
}
#seeds1{
    position: absolute;
    top: 20px;
    right: 40px;
    rotate: 220deg;
    
}
#bgimg1{
    position: absolute;
    bottom: 350px;
    opacity: 0.4;
}
#bgimg2{
    position: absolute;
    top: 1130px;
    right: 0;
    opacity: 0.3;
}