* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    position: relative;
}
.toppage {
    background-color: #f6ebda;
}
.navbar {
    height: 5vh;
}
.logo {
    position: absolute;
    top: 5px;
    left: 30px;
    padding-top: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 450px;
}
li {
    float: left;
}
li a {
    display: block;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-left: 30px;
    transition: all 0.3s ease-in;
}
.menuitem a {
    width: 80px;
}
.menuitem1 a {
    width: 100px;
}
.menuitem2 a {
    width: 70px;
}
li a:hover {
    color: #e0924b;
    border-bottom: 3px solid black;
}
.form {
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 1;
}
.form button {
    height: 40px;
    width: 40px;
    float: left;
    font-size: 15px;
    background-color: white;
    border: 1px solid gray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    color: gray;
}
.form input[type=text] {
    height: 40px;
    width: 250px;
    padding: 10px;
    float: left;
    background-color: white;
    border: 1px solid gray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
    cursor: pointer;
    outline: none;
}
.shopi{
    margin-left: 10px;
}
.cir {
    width: 10px;
    height: 10px;
    background-color: #ff902a;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
}
.body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 60px;
}
.text {
    margin-top: 10px;
    margin-left: 30px;
}
.text h1 span {
    color: #e0924b;
    letter-spacing: 5px;
}
.text p {
    font-size: 15px;
    margin-top: 20px;
    color: gray;
}
.butmore {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.ordernow {
    background-color: rgb(19, 11, 11);
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    display: flex;
    color: white;
    font-size: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.ordernow span {
    font-size: 15px;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #ff902a;
    color: white;
    margin-left: 20px;
}
.ordernow:hover {
    box-shadow: 2px 2px 8px 5px #2f2105;
    background-color: #ff902a;
}
.more {
    color: #ff902a;
    font-size: 15px;
    border: none;
    background-color: #f6ebda;
    margin-left: 40px;
}
.image img {
    border-radius: 50%;
    margin-right: 50px;
}
.image p {
    background-color: white;
    border: 1px double rgb(236, 234, 234);
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 3px 2px 3px 2px rgba(211, 208, 208, 0.5);
}
.textbox {
    position: absolute;
    right: 240px;
    top: 10px;
    width: 180px;
    padding: 10px;
    text-align: center;
    outline: 2px solid rgb(240, 237, 237);
}
.rating {
    position: absolute;
    right: 30px;
    top: 60px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    outline: 2px solid rgb(240, 2376 237);
}
.rating span {
    color: orange;
}
.likes {
    position: absolute;
    right: 330px;
    top: 240px;
    padding: 10px;
    text-align: center;
    width: 90px;
    outline: 2px solid rgb(240, 237, 237);
}
.populartext {
    position: absolute;
    top: 380px;
    left: 30px;
    font-size: 20px;
}
.populartext span {
    border-bottom: 4px solid orange;
}
.popular {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
    position: absolute;
    top: 350px;
    z-index: 1;
    margin-top: 30px;
    margin-left: 30px;
}
.split2 {
    width: 280px;
    height: 330px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 6px 2px rgba(98, 99, 99, 0.795);
    padding: 7px;
    margin-top: 100px;
    position: relative;
}
.split2:hover {
    box-shadow: 1px 1px 1px 1px gray;
}
.split2 h5 {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: white;
    border-radius: 10px;
    outline: 2px solid rgb(240, 237, 237);
    box-shadow: 1px 1px 5px 2px rgba(240, 237, 237, 0.7);
    padding: 3px 10px;
    width: 60px;
}
.split2 h5 span {
    color: orange;
    font-size: 15px;
    padding-left: 5px;
}
.vanilaimg {
    border-radius: 5px;
    margin-left: 2px;
}
.haze {
    border-radius: 5px;
    margin-left: 2px;
}
.hotcold {
    margin-top: -2px;
    margin-left: -7px;
    opacity: 0.9;
}
.coffe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}
.coffe h6 {
    color: #2f2105;
    font-size: 12px;
    margin-left: 3px;
}
.coffe p {
    font-size: 15px;
    font-weight: bold;
}
.bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}
.bot span {
    width: 30px;
    height: 30px;
    background-color: #ff902a;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    padding: 5px;
}
.hot {
    border: 1px solid #ff902a;
    border-radius: 5px;
    width: 40px;
    color: #ff902a;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 1px 5px;
}
.cold {
    border: 1px solid #ff902a;
    border-radius: 5px;
    width: 40px;
    color: #ff902a;
    font-size: 12px;
    padding: 1px 5px;
    margin-left: 10px;
}
.center {
    z-index: 1;
    background-color: white;
    margin-top: 200px;
}
.rectangle {
    width: 98%;
    background-color: #ffcb7c;
    border-radius: 25px;
    height: 380px;
    opacity: 0.5;
    position: absolute;
    top: 600px;
    left: 15px;
}
.bodybottom {
    background-color: white;
    margin-left: 30px;
}
.useservice {
    padding-top: 100px;
}
.useservice span {
    border-bottom: 2px solid orange;
}
.delivery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}
.service {
    text-align: center;
}
.servicep {
    font-size: 20px;
    color: #2f2105;
    font-weight: bold;
}
.serve {
    font-size: 12px;
    margin-top: 10px;
}
.toppic {
    position: absolute;
    top: 1350px;
    left: 30px;
    box-shadow: 1px 2px 3px 4px rgb(194, 193, 193);
    outline: 2px solid rgb(240, 237, 237);
    border-radius: 5px;
}
.textarea {
    background-color: #f6ebda;
    height: 60vh;
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
}
.right {
    background-image: url(./images/Exclude1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 70% 100%;
    padding-left: 950px;
    padding-top: 60px;
    align-items: center;
}
.right h3 {
    font-size: 25px;
}
.right h3 span {
    border-bottom: 2px solid orange;
}
.textarea h4 {
    margin-top: 15px;
    font-size: 20px;
}
.textarea p {
    font-size: 15px;
    color: rgb(65, 63, 63);
    margin-top: 10px;
}
.right button {
    border: none;
    background-color: rgb(19, 11, 11);
    padding: 10px;
    color: #ff902a;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.right button:hover {
    background-color: #ff902a;
    color: #2f2105;
}
.spl {
    margin-top: 50px;
    margin-left: 30px;
}
.spl span {
    border-bottom: 2px solid orange;
}
.coffemenus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
}
.splmenu {
    width: 280px;
    height: 330px;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 6px 2px rgba(98, 99, 99, 0.795); 
    padding: 10px;
}
.splmenu:hover {
    box-shadow: 2px 3px 1px 2px gray;
    transition: 1s;
}
.bot p {
    font-size: 12px;
    color: rgb(43, 41, 41);
    margin-left: 2px;
}
.textbg {
    background-image: url(./images/Exclude1.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    width: 77%;
    background-color: #f6ebda;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 50px;
    height: 50vh;
}
.textbg h3 {
    padding-top: 80px;
    margin-left: 20px;
    font-size: 25px;
}
.textbg p {
    margin-top: 10px;
    font-size: 15px;
    color: rgb(94, 93, 93);
    margin-left: 20px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 70px;
    position: absolute;
    bottom: 500px;
    right: 80px;
}
.commentgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 70px;
    position: absolute;
    bottom: 520px;
    right: 40px;
}
.commentbox {
    border-radius: 1px solid #ffcb7c;
    background-color: #ffcb7c;
    box-shadow: 2px 3px 4px 3px #ffcb7c;
    border-radius: 5px;
    padding:0px 10px 5px 5px;
    text-align: left;
    opacity: 0.9;
    outline: 2px solid #ffcb7c;
}
.comments {
    color: rgb(43, 42, 42);
    font-size: 10px;
}
.name {
    font-size: 12px;
    font-weight: bold;
}

.bottom p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 3px;
    padding-top: 150px;
}
.form1 {
    width: 300px;
    border-radius: 20px;
    background-color: white;
    margin-left: 410px;
    height: 40px;
    padding-top: 5px;
    margin-top: 20px;
    padding-left: 15px;
}
.form1 input {
    border: none;
    font-size: 10px;
    width: 120px;
    padding: 5px;
    background-color: white;
    outline: none;
}
.form1 button {
    background-color: rgb(19, 11, 11);
    color: white;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    opacity: 0.8;
    padding: 5px;
    text-align: center;
    margin-left: 70px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.form1 button:hover {
    background-color: #ff902a;
    color: #2f2105;
}
.bottom {
    background-image: url(./images/bgimage.png);
    width: 85%;
    height: 60vh;
    border-radius: 20px;
    color: white;
    text-align: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.seeds {
    position: absolute;
    top: 280px;
    left: 60px;
    rotate: 210deg;
}
.seeds1 {
    position: absolute;
    top: 20px;
    right: 50px;
    rotate: 220deg;
}